.container {
  display: flex;
}

.imgCont {
  flex: 1;
  position: relative;
}

.img {
  object-fit: contain;
}

.formContainer { 
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input {
  display: block;
  border: none;
}

.inputForm {
  color: var(--text);
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 5px;
}

.button {
  padding: 20px;
  border-radius: 5px;
  background-color: var(--btn);
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formContainer {
      width: 500px;
  }
}


@media (max-width: 768px) {
  .formContainer {
      width: 500px;
  }
}
@media (max-width: 500px) {
  .formContainer {
      width: 400px;
  }
} 
@media (max-width: 400px) {
  .formContainer {
      width: 300px;
  }
}